@model SIS.Models.Major

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold text-blue-700">CREATE FORM</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>

    <form asp-action="Create">
        <div class="card-body">
            <div class="row font-weight-bold">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-12">
                    <fieldset>
                        <legend class="font-weight-semibold text-primary-700"><i class="icon-box mr-2"></i> MAJOR INPUT</legend>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group-feedback-right mb-3 mb-3">
                            <label asp-for="MajorName" class="control-label"></label> *
                            <div class="input-group">
                                <input asp-for="MajorName" class="form-control" placeholder="Enter major name" />
                            </div>
                            <span asp-validation-for="MajorName" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group-feedback-right mb-3 mb-3">
                            <label asp-for="MajorCode" class="control-label"></label> *
                            <div class="input-group">
                                <input asp-for="MajorCode" class="form-control" placeholder="Enter major code" />
                            </div>
                            <span asp-validation-for="MajorCode" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-md-6 mb-0">
                    <div class="form-group mb-0">
                        <a asp-action="Index" class="btn btn-link"><i class="icon-backward"></i> Back to List</a>
                    </div>
                </div>
                <div class="col-md-6 text-right mb-0">
                    <div class="form-group mb-0">
                        <button type="submit" value="" class="btn btn-primary">Create <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Single picker
        $('.daterange-single-empty').daterangepicker({
            singleDatePicker: true,
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear',
                format: 'DD-MM-YYYY'
            }
        });

        // Single picker - Empty value
        $('.daterange-single-empty').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD-MMM-YYYY'));
        });

        $('.daterange-single-empty').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    });
</script>

